
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    padding: 0;
    overflow: auto;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}


.Control-Panel {
    position: absolute;
    /*left:1rem;*/
    top: 0;
    z-index: 100;
    display: flex;
    height:100vh;
    width: 25vw;
}
.inner-panel {

    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
    flex: 1 1;
    margin: 3rem;
    margin-left: 1rem;
    /*padding:0.5rem;*/
    background-color: #fff;
    display: flex;
    flex-direction: row;
}
.panel-left {
    height: 100%;
    background-color: #3E1765;
    width:10rem;
}
.panel-right {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.panel-title {
    margin-left:1rem;
    margin-right:1rem;
    margin-top: 1rem;
    font-size: 18pt;
    font-weight: bold;
    color: #9b9b9b;
    text-transform: uppercase;
}
h2 {
    font-size: 14pt;
    font-weight:bold;
    color:#9b9b9b;
    text-transform: uppercase;
}
.panel-content {
    margin-left: 1rem;
    margin-right:1rem;
}

#markerLayer img {
    padding: 1rem;
    border: 1pt solid red;
}
.mee {
    border: 1pt solid red;
}